.notTouched{
    box-sizing: border-box;
    border: 1px solid grey;
    display: inline-block;
    background-color: white;
}

.touched {
    box-sizing: border-box;
    border: 1px solid grey;
    display: inline-block;
    background-color: black;
    opacity: 0;
}

.image {
    max-height: 800px;
    max-width: 800px;
    background-image: url(./love1.jpg);
}

.button {
    width: 400px;
    height: 80px;
    text-shadow: 2px;
}